---
import Changelog from "../layouts/Changelog.astro";
import { latestChangelog } from "../utils";
const { added, removed, version } = latestChangelog();
---
<Changelog version={version}>
    {added.map((item, i) => (
        <p class="text-green-300">+ {item}</p>
    ))}
    {removed.map((item, i) => (
        <p class="text-red-300">- {item}</p>
    ))}
</Changelog>