---
import Layout from "../layouts/default.astro";
import { latestChangelog } from "../utils";
const { added, removed, version } = latestChangelog();
---
<Layout version={version}>
    {added.map((item, i) => (
        <p class="text-green-300">+ {item}</p>
    ))}
    {removed.map((item, i) => (
        <p class="text-red-300">- {item}</p>
    ))}
</Layout>